name: Check

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Rye
        uses: eifinger/setup-rye@v4
        with:
          enable-cache: true
      - name: Install git-filter-repo
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: git-filter-repo
          version: "1.0"
      - name: Sync dependencies
        run: rye sync
      - name: Set github username
        run: |
          git config --global user.name runner
          git config --global user.email "runner@github.com"
          git config --global init.defaultBranch main
      - name: Run gen
        run: rye run gen
      - name: Run check
        run: rye run check
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Rye
        uses: eifinger/setup-rye@v4
        with:
          enable-cache: true
      - name: Sync dependencies
        run: rye sync
      - name: Run lint
        run: rye lint
